@model IEnumerable<Phd_Portal_Grp1_DA3B.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Add Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-action="Create">Update Details</a>
                </li>
            </ul>
            </div>
        </nav>

                @*<p>
                    <a asp-action="Create">Update Details</a>
                </p>*@
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
